*{
    margin: 0;
    padding: 0;
}
.container2{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 180px;
    cursor: pointer;
}
.aboutlogo{
    width: 180px;
    margin: auto;
    align-items: center;
    margin-bottom: -5%;
    margin-top: -4%;
}
.cart{
    width: 40px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 200px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.registrationbar{
    margin-left: 410px;
}
.registrationbar h1{
    color: #333;
    margin-bottom: 30px;
    margin-top: -10px;
}